body{
    background-color: lightgray;

}

#toyota{color:red }
#car{
    text-align: center;
}

.bottom{
    width: 600px;
    height:400px;
    border: 2px;
    margin: 70px;
    px;
    /* margin-left: 450px; */


}

article{ padding: 100px;}

nav ul{
    margin: 0;
    padding: 0;
    list-style:none;
    font-size: 20px;



}

nav ul li{
    display: inline-block;
    margin: 20px;
    list-style: none;
}

header{
    color:white;
    background-color:black;
    text-align: center;
    font-size: size 60px;
    display:block;
}
ul{list-style:none;
}
.top {
    width: 600px;
    height:400px;
    border: 2px;
    margin-left: 450px;

}